{{>layout/header}}
    <h1>스프링부트, JPA, AWS 구성된 홈페이지만들기</h1>
<div class="col-md-12">
    <!-- 로그인 기능 영억 -->
    <div class="row">
        <div class="col-md-6">
<!--            <a href="/posts/save" role="button" class="btn btn-primary">글등록</a>-->


                <br><br>
                <a href="/posts/summit" class="btn btn-success active" role="button">회원가입</a>
                <a href="/posts/login" class="btn btn-secondary active" role="button">로그인</a>

        </div>
    </div>
    <br><br>
    <!-- 목록 출력 영역 -->
    <table class="table">
        <tr class="table-dark">
            <td colspan="4" class="text-center"><h1>개발환경</h1></td>
        </tr>
        <tr class="table-secondary">
            <th class="text-center">No.</th>
            <th class="text-center">Front-End</th>
            <th class="text-center">Back-End</th>
            <th class="text-center">Server</th>
        </tr>
        <tr scope="row">
            <th>1</th>
            <td>Mustache, BootStrap 4.3.1</td>
            <td>SpringBoot:2.4.1, JDK:11, JPA, Tomcat:9</td>
            <td>Amazon Linux 2, JAVA 1.8</td>
        </tr>
        <tr class="table-secondary">
            <th class="text-center">No.</th>
            <th class="text-center">Table Name</th>
            <th colspan="2">Type</th>
        </tr>
        <tr scope="row">
            <th>1</th>
            <td>User Table</td>
            <td colspan="2">name(String), email(String), picture(String), id(Long), role(Role)</td>
        </tr>
        <tr>
            <th>2</th>
            <td>Posts Table</td>
            <td colspan="2">title(String), content(String), author(String)</td>
        </tr>

    </table>
</div>
{{>layout/footer}}
